.hot-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 30px;
  background: #fafafa;
}

/* HEADER */

.hot-header {
  margin-bottom: 40px;
}

.title-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  color: #2b6cff;
  font-size: 18px;
}

.title-area h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.blue-text {
  color: #2b6cff;
}

/* SCROLL AREA */

.hot-scroll-container {
  display: flex;
  gap: 24px;

  overflow-x: auto;
  overflow-y: hidden;

  padding-bottom: 10px;

  scroll-behavior: smooth;
}

/* card width */

.hot-card {
  flex: 0 0 350px;
}

/* SCROLLBAR */

.hot-scroll-container::-webkit-scrollbar {
  height: 8px;
}

.hot-scroll-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* TABLET */

@media (max-width: 900px) {
  .hot-section {
    padding: 60px 24px;
  }

  .title-area h2 {
    font-size: 30px;
  }

  .hot-card {
    flex: 0 0 280px;
  }
}

/* MOBILE */

@media (max-width: 600px) {
  .hot-section {
    padding: 60px 20px;
  }

  .title-area h2 {
    font-size: 26px;
  }

  .hot-card {
    flex: 0 0 85%;
  }

  .hot-scroll-container{
    display: flex;
    flex-direction: column;
  }
}